<h2>About CodeShare</h2>
<p>A samll website for showing code snippets, homework of my Ruby class</p>
<p>Using the following</p>
<ul>
    <li>Ruby on rails</li>
    <li>Bootstrap</li>
    <li>Github for version control</li>
    <li>Heroku for release</li>
</ul>
<p>Source Code is at <a href="http://github.com/iEverX/codeshare">Here</a> </p>

<h2>About Me</h2>
<p>Ever, or iEverX, is me</p>
<p>Personal Website is <a href="http://blog.EverCoding.net" rel="nofollow">EverCoding</a></p>
<p>More on <a href="http://blog.EverCoding.net/about.html">Personal Website About Page</a></p>