<!DOCTYPE html>
<html>
<head>
  <title>CodeShare</title>
  <%= stylesheet_link_tag 'bootstrap.min.css' %> 
  <%= stylesheet_link_tag 'style.css' %>
  <style type="text/css">
    body { background-color: #eee; }
  </style>
</head>
<body>
    <div class="navbar" id="page-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">CodeShare</a>
                <ul class="nav">
                    <li><a href="/list">List</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav pull-right share"><li><a href="/share">Share Code</a></li></ul>
                <ul class="nav pull-right">
                    <li>                
                        <form action="/code/show" method="post" class="navbar-search">
                            <input class="search-query" name="id" type="text" placeholder="The id to view" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mycontent">
            <div class="page-header">
                <h1>CodeShare <small>Just share</small></h1>
            </div>
<%= yield %>
        </div>
        <footer>
            <p>Powered By <a href="http://blog.EverCoding.net">Ever</a><p>
            <p>using Ruby on Rails and Bootstrap</p>
        </footer>
    </div>
</div>      
</body>
</html>
